# ════════════════════════════════════════
#  SGD — Variables d'environnement
#  Copier en .env et adapter les valeurs
# ════════════════════════════════════════

SECRET_KEY=remplacer-par-une-cle-secrete-longue-et-aleatoire
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de données PostgreSQL
DB_NAME=sgd_db
DB_USER=sgd_user
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PASSWORD=changeme

# Superuser auto-créé au démarrage
DJANGO_SUPERUSER_EMAIL=admin@sgd.local
DJANGO_SUPERUSER_PASSWORD=Admin1234!

# Intégrations outils de sécurité (optionnel)
WAZUH_API_URL=https://wazuh-manager:55000
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASSWORD=changeme

THEHIVE_URL=http://thehive:9000
THEHIVE_API_KEY=

OPENPROJECT_URL=http://openproject:8080
OPENPROJECT_API_KEY=
