# Django
*.pyc
__pycache__/
*.pyo
db.sqlite3
/staticfiles/
/mediafiles/
/logs/

# Environnement — NE JAMAIS COMMITER
docker/.env
*.env
!.env.example
!docker/.env.example

# Docker
docker/ssl/
docker/wazuh/config/certs/*.pem
docker/wazuh/config/certs/*.key

# Certificats Wazuh générés localement
wazuh-certificates/
wazuh-certs-tool.sh
wazuh-certificates-tool.log
config.yml

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Python venv
venv/
.venv/
