# Django
*.pyc
__pycache__/
*.pyo
db.sqlite3
/staticfiles/
/mediafiles/
/logs/

# Environnement
.env
*.env
!.env.example

# Docker
docker/.env
docker/ssl/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
