# ══════════════════════════════════════════════
#  .env  —  NE PAS COMMITER CE FICHIER (.gitignore)
# ══════════════════════════════════════════════

# ── Django ────────────────────────────────────
SECRET_KEY=remplace_par_une_cle_secrete_longue_et_aleatoire
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Super utilisateur créé automatiquement au 1er démarrage
DJANGO_SUPERUSER_EMAIL=admin@mondomaine.com
DJANGO_SUPERUSER_PASSWORD=ChangeMe123!

# ── Base de données Django ────────────────────
DB_NAME=sgd_db
DB_USER=sgd_user
DB_PASSWORD=ChangeMe_DB!
DB_HOST=db
DB_PORT=5432

# ── Redis ─────────────────────────────────────
REDIS_PASSWORD=ChangeMe_Redis!

# ── Wazuh ─────────────────────────────────────
WAZUH_INDEXER_PASSWORD=Wazuh@Securite2026!
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASSWORD=Wazuh@Securite2026!

# ── TheHive ───────────────────────────────────
THEHIVE_SECRET=TheHiveSecurite2026_LongSecret!
THEHIVE_API_KEY=TheHiveAPIKey2026_Secured!
